<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>avi.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mov.icns</string>
			<key>CFBundleTypeName</key>
			<string>Quicktime video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
				<string>m15</string>
				<string>m75</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m2v.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG2 video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m2v </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3gpp.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3GPP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg4</string>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp4.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG4 video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG Graphics</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIF </string>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BMP image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PIC</string>
				<string>pct</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
				<string>image/pjpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qtif image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>swf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Shockwave Flash</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SWFL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fli</string>
				<string>flc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fli.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/flc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLI </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLI </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dv.icns</string>
			<key>CFBundleTypeName</key>
			<string>DV video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All files</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NiceDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>NicePlayer</string>
	<key>CFBundleHelpBookFolder</key>
	<string>NicePlayer Help</string>
	<key>CFBundleHelpBookName</key>
	<string>NicePlayer Help</string>
	<key>CFBundleIconFile</key>
	<string>NiceIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.nice.niceplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NicePlayer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.91</string>
	<key>CFBundleSignature</key>
	<string>nIcE</string>
	<key>CFBundleVersion</key>
	<string>119</string>
	<key>JTAuthorEmail</key>
	<string>niceplayer@indyjt.com</string>
	<key>JTUpdateURL</key>
	<string>http://indyjt.com/software/niceplayer/niceplayer.indyUpdate</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NPApplication</string>
</dict>
</plist>
