<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4.0</key>
	<array>
		<dict>
			<key>Images</key>
			<dict>
				<key>PlayButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>PlayButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>StopButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
				<key>StopButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>326</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>32</integer>
					<key>Width</key>
					<integer>32</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>327</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Images</key>
			<dict>
				<key>libraryIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>normalIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>5</integer>
				</dict>
				<key>purchaseIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>11</integer>
				</dict>
				<key>smartIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>443</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>20</integer>
					<key>Width</key>
					<integer>20</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>444</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>4.5</key>
	<array>
		<dict>
			<key>Images</key>
			<dict>
				<key>PlayButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>PlayButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>StopButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
				<key>StopButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>326</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>32</integer>
					<key>Width</key>
					<integer>32</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>327</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Images</key>
			<dict>
				<key>libraryIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>normalIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>5</integer>
				</dict>
				<key>partyIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>27</integer>
				</dict>
				<key>purchaseIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>11</integer>
				</dict>
				<key>smartIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>443</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>20</integer>
					<key>Width</key>
					<integer>20</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>444</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>7.0</key>
	<array>
		<dict>
			<key>Images</key>
			<dict>
				<key>PlayButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>PlayButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>StopButton</key>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
				<key>StopButtonH</key>
				<dict>
					<key>Column</key>
					<integer>3</integer>
					<key>Row</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>326</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>32</integer>
					<key>Width</key>
					<integer>32</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>327</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Images</key>
			<dict>
				<key>libraryIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>1</integer>
				</dict>
				<key>normalIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>23</integer>
				</dict>
				<key>partyIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>20</integer>
				</dict>
				<key>purchaseIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>9</integer>
				</dict>
				<key>smartIcon</key>
				<dict>
					<key>Column</key>
					<integer>1</integer>
					<key>Row</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>Resources</key>
			<dict>
				<key>Base</key>
				<dict>
					<key>ID</key>
					<integer>443</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
				<key>Divisions</key>
				<dict>
					<key>Height</key>
					<integer>18</integer>
					<key>Width</key>
					<integer>18</integer>
				</dict>
				<key>Mask</key>
				<dict>
					<key>ID</key>
					<integer>444</integer>
					<key>Type</key>
					<string>PICT</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
